{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Items{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('userList.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for item in items %}
    <article class="post">
      <header>
        <div>
          <h1 style = "text-decoration:{{'line-through' if item['checked'] == 1 else 'none'}};">{{ item['listItem'] }}</h1>
          <div class="about">by {{ item['username'] }} on {{ item['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == item['author_id'] %}
        {% if item['checked'] == 0 %}
        <input type="checkbox" name="checkTest" id="checkFalse" disabled>
        {% else %}
        <input type="checkbox" name="checkTest" id="checkTrue" disabled checked>
        {% endif %}
        <a class="action" href="{{ url_for('userList.update', id=item['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}