{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ item['listItem'] }}" {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="item">Item</label>
    <input name="item" id="item"
      value="{{ request.form['item'] or item['listItem'] }}" required>
    <div>
      <Label for="checkTest">Completed</Label>
      <input type="checkbox" name="checkTest" id="checkTest" {{'checked' if item['checked'] == 1 else ''}}>
    </div>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('userList.delete', id=item['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}